
.vs/EasyHttp/DesignTimeBuild/.dtbcache.v2
.vs/EasyHttp/v16/.suo
.vs/EasyHttp/v16/TestStore/0/000.testlog
.vs/EasyHttp/v16/TestStore/0/002.testlog
ConsoleApp1/bin/Debug/netcoreapp3.1/ConsoleApp1.dll
ConsoleApp1/bin/Debug/netcoreapp3.1/ConsoleApp1.exe
ConsoleApp1/bin/Debug/netcoreapp3.1/ConsoleApp1.pdb
ConsoleApp1/bin/Debug/netcoreapp3.1/EasyHttp.dll
ConsoleApp1/bin/Debug/netcoreapp3.1/EasyHttp.pdb
ConsoleApp1/bin/Debug/netcoreapp3.1/EasyHttp.xml
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.csprojAssemblyReference.cache
ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.dll
ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.exe
ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.genruntimeconfig.cache
ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.pdb
ConsoleApp1/obj/project.assets.json
ConsoleApp1/obj/project.nuget.cache
EasyHttp.Test/bin/Debug/netcoreapp3.1/EasyHttp.dll
EasyHttp.Test/bin/Debug/netcoreapp3.1/EasyHttp.pdb
EasyHttp.Test/bin/Debug/netcoreapp3.1/EasyHttp.Test.dll
EasyHttp.Test/bin/Debug/netcoreapp3.1/EasyHttp.Test.pdb
EasyHttp.Test/bin/Debug/netcoreapp3.1/EasyHttp.xml
EasyHttp.Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
EasyHttp.Test/obj/Debug/netcoreapp3.1/EasyHttp.Test.csproj.CoreCompileInputs.cache
EasyHttp.Test/obj/Debug/netcoreapp3.1/EasyHttp.Test.csprojAssemblyReference.cache
EasyHttp.Test/obj/Debug/netcoreapp3.1/EasyHttp.Test.dll
EasyHttp.Test/obj/Debug/netcoreapp3.1/EasyHttp.Test.pdb
EasyHttp.Test/obj/EasyHttp.Test.csproj.nuget.dgspec.json
EasyHttp.Test/obj/EasyHttp.Test.csproj.nuget.g.props
EasyHttp.Test/obj/project.assets.json
EasyHttp.Test/obj/project.nuget.cache
EasyHttp.Test/UnitTestEasyHttp1.cs
EasyHttp/bin/Debug/netcoreapp3.1/EasyHttp.dll
EasyHttp/bin/Debug/netcoreapp3.1/EasyHttp.pdb
EasyHttp/bin/Debug/netcoreapp3.1/EasyHttp.xml
EasyHttp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
EasyHttp/obj/Debug/netcoreapp3.1/EasyHttp.csproj.CoreCompileInputs.cache
EasyHttp/obj/Debug/netcoreapp3.1/EasyHttp.csprojAssemblyReference.cache
EasyHttp/obj/Debug/netcoreapp3.1/EasyHttp.dll
EasyHttp/obj/Debug/netcoreapp3.1/EasyHttp.pdb
EasyHttp/obj/EasyHttp.csproj.nuget.dgspec.json
EasyHttp/obj/EasyHttp.csproj.nuget.g.props
EasyHttp/obj/project.assets.json
EasyHttp/obj/project.nuget.cache
WindowsFormsTest/bin/Debug/WindowsFormsTest.exe
WindowsFormsTest/bin/Debug/WindowsFormsTest.pdb
WindowsFormsTest/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
WindowsFormsTest/obj/Debug/WindowsFormsTest.csproj.CoreCompileInputs.cache
WindowsFormsTest/obj/Debug/WindowsFormsTest.csproj.FileListAbsolute.txt
WindowsFormsTest/obj/Debug/WindowsFormsTest.exe
WindowsFormsTest/obj/Debug/WindowsFormsTest.pdb
